{{ define "daily-weight-entry" }}
{{ template "base" . }}
{{ end }}
{{ define "styles"}}
<link rel="stylesheet" href="/web/css/daily-weight-entry.css">
{{ end }}
{{ define "content" }}
<div class="daily-weight-entry-main-container">
    <p class="daily-weight-entry-title">Enter Weight</p>
    <form class="daily-weight-entry-form" action="/daily-weight-entry" method="post">
        <input id="daily-weight-entry-weight-input" class="daily-weight-entry-input" type="number" name="weight" autofocus>
        <p class="daily-weight-entry-form-weight-label">lb</p>
        <label for="date">Select a date</label><br><br>
        <input type="date" id="date" name="date">
        <button class="daily-weight-entry-button" type="submit">Save</button>
    </form>
</div>
{{ end }}
{{ define "scripts" }}
{{ end }}