{{ define "login" }}
{{ template "base" . }}
{{ end }}
{{ define "styles"}}
<link rel="stylesheet" href="/web/css/login.css">
{{ end }}
{{ define "content" }}
<div class="login-main-container">
    <img class="login-image" src="/web/images/weight-tracker-icon.png" alt="the main icon">
    <p class="login-app-name">Weight Tracker</p>
    {{ if .LoginError }}
    <p class="login-error">{{ .LoginErrorMessage }}</p>
    {{ end }}
    <form class="login-form" action="/login" method="post">
        <input class="login-input" type="text" placeholder="Email" name="email" required>
        <input class="login-input" type="password" placeholder="Password" name="password" required>
        <button class="login-button" type="submit">Login</button>
        <a class="login-link" id="login-forgot-password" href="/password-reset">Forgot password?</a>
    </form>
    <div class="login-form-bottom-container">   
        <p class="login-common-text">Don't have an account?</p>
        <a class="login-link" href="/register">Register</a>
    </div>
</div>
{{ end }}
{{ define "scripts" }}
{{ end }}