{{ define "register" }}
{{ template "base" . }}
{{ end }}
{{ define "styles"}}
<link rel="stylesheet" href="/web/css/register.css">
{{ end }}
{{ define "content" }}
<div class="register-main-container">
    <p class="register-app-name">Weight Tracker</p>
    <p id="sub-text-1" class="register-app-sub-text">Welcome to the app</p>
    <p id="sub-text-2" class="register-app-sub-text">Create a free account</p>
    {{ if .HasError }}
    <p class="register-error">{{ .ErrorMessage }}</p>
    {{ end }}
    <form class="register-form" action="/register" method="post">
        <label class="register-input-label" for="register-email">Email</label>
        <input id="register-email" class="register-input" type="text" name="register-email">
        <label class="register-input-label" for="register-password">Password</label>
        <input id="register-password" class="register-input" type="password" name="register-password">
        <label class="register-input-label" for="register-password-repeat">Repeat Password</label>
        <input id="register-password-repeat" class="register-input" type="password" name="register-password-repeat">
        <button class="register-button" type="submit">Register</button>
    </form>
    <div class="register-form-bottom-container">   
        <p class="register-common-text">Already have an account?</p>
        <a class="register-link" href="/login">Login</a>
    </div>
</div>
{{ end }}
{{ define "scripts" }}
{{ end }}