{{ define "target-weight-entry" }}
{{ template "base" . }}
{{ end }}
{{ define "styles"}}
<link rel="stylesheet" href="/web/css/target-weight-entry.css">
{{ end }}
{{ define "content" }}
<div class="target-weight-entry-main-container">
    <p class="target-weight-entry-title">Enter Target Weight</p>
    <form class="target-weight-entry-form" action="/target-weight-entry" method="post">
        <input 
            id="target-weight-entry-weight-input" 
            class="target-weight-entry-input" 
            type="number"
            name="weight"
            autofocus
        >
        <button class="target-weight-entry-button" type="submit">Save</button>
    </form>
</div>
{{ end }}
{{ define "scripts" }}
<script src="/web/js/target-weight-entry.js"></script>
{{ end }}