.register-main-container {
    background-color: #141414;
    color: rgb(240, 240, 240);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-image {
    height: 8rem;
    width: 8rem;
    border-radius: 10px;
}

.register-app-name {
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.register-error {
    color: red;
    font-size: 10px;
    margin-bottom: 24px;
}

.register-app-sub-text {
    margin-bottom: 16px;
}

#sub-text-1 {
    font-size: 18px;
    opacity: 0.8;
}

#sub-text-2 {
    font-size: 14px;
    opacity: 0.7;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-input-label {
    opacity: 0.8;
    align-self: flex-start;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.register-input {
    width: 60vw;
    height: 2.25rem;
    margin-bottom: 24px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 25px;
    color: rgb(240, 240, 240);
    padding-left: 10px;
}

.register-button {
    margin-bottom: 24px;
    text-align: center;
    background-color: rgb(48, 115, 240);
    color: rgb(240, 240, 240);
    width: 60vw;
    height: 2.25rem;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
}

.register-link {
    color: rgb(48, 115, 240);
}

.register-form-bottom-container {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-common-text {
    margin-right: 10px;
    opacity: 0.8;
}

/* Tablets (>= 768px) */
@media (min-width: 768px) {
    .register-input, .register-button {
        width: 40vw;
    }
}

/* Small Desktop (>= 992px) */
@media (min-width: 992px) {
    .register-input, .register-button {
        width: 20vw;
    }
}