.target-weight-entry-main-container {
    background-color: #141414;
    color: rgb(240, 240, 240);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target-weight-entry-title {
    margin-top: 10vh;
    font-size: 2rem;
}

.target-weight-entry-form {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target-weight-entry-input {
    font-size: 2.5rem;
    border: none;
    background: transparent;
    outline: none;
    color: white;
    caret-color: white;
    width: 50vw;
    text-align: center;
}

.target-weight-entry-form-weight-label {
    font-size: 2rem;
}

.target-weight-entry-button {
    margin-top: 4vh;
    text-align: center;
    background-color: rgb(48, 115, 240);
    color: rgb(240, 240, 240);
    width: 60vw;
    height: 2.25rem;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
}

/* Tablets (>= 768px) */
@media (min-width: 768px) {
    .target-weight-entry-button  {
        width: 40vw;
    }
}

/* Small Desktop (>= 992px) */
@media (min-width: 992px) {
    .target-weight-entry-button  {
        width: 20vw;
    }
}